<h1>Stupid Coaching</h1>

<div class="question">
<h2>"<%= params[:question].capitalize %>"</h2>
<p>- You</p>
</div>
<br>
<div class="answer">
<h2><%= @answer %></h2>
<p>- Coach</p>
</div>

<div class="link">
<%= link_to "Ask another question", ask_path %>
</div>
